body{
  background-color: FFE2AE;
  text-align: center;
  color: #FF0000;
}
tr,td{
  text-align: center;
  color: #FF0000;
  font-size: 20px;
}


table,td,tr{
    border: 2px solid black;
    border-collapse: collapse;
    
     
}
table{
    width: 100%; 
    font-family: "verdana";
    align-content: center;
}