body {
	background-color: #FFC6CF;
         	
}

h1 {
	text-align: center;
        text-decoration: underline;
        color: #FF0000;
}

h2 {
        text-align: center;
        color: #0000CC;
        
}

#l1 {
        font-style:italic;
        color: #FF0000;
        
}

.l2 {
        text-decoration: underline;
        color:770000;
        font-style:italic;
}

p
 {
        font-style:italic;
} 


