body{
  background-color: #000000;
}
h1{
    font-size:  3vw;
    text-align: center;
    color:#FFFFFF;
    font-family: "verdana";
}


table,th,td,tr{
    border: 2px solid white;
    border-collapse: collapse;
    align-content: center;

}
table{
    width: 100%; 
    font-family: "verdana";
    background-color: #FFE4E1;
}
th{
    text-align: center;
    width: 3cm;
    font-size: 20px;
    background-color: #B9D3EE;
}
td{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

th,td{
    padding: 10px;
}
#mon{
    background-color: #FFD700;
    font-weight: bold;
    font-size: 20px;
}
#tue{
    background-color: #EE6363;
    font-weight: bold;
    font-size: 20px;
}
#wed{
    background-color: #32CD32;
    font-weight: bold;
    font-size: 20px;
}
#thu{
    background-color: #D2691E;
    font-weight: bold;
    font-size: 20px;
}
#fri{
    background-color: #00868B;
    font-weight: bold;
    font-size: 20px;
}

#lin{
    background-color: #CC99CC;
}
#int{
    background-color: #CAFF70;
}
#fit{
    background-color: #40E0D0;
}
#art{
    background-color: #FF69B4;
}
#bus{
    background-color: #AE8A8C;
}
#exe{
    background-color:#FFC125;
}
#sem{
    background-color: #666699;
}
#web{
    background-color: #FF3333;
}
#com{
    background-color: #99FF33;
}
#pro{
    background-color: #CC6633;
}